%h1
  Повышаем градус

%h3
  Главная

%select{'ng-model'=>'opened', 'ng-options'=>'item.name for item in items'}

%ng-switch{'on'=>'anyItemOpen()'}
  %div{'ng-switch-when'=>'true'}
    %hr

    %h3
      Детальная
    %div{'ng-controller'=>'ItemController'}
      %h2
        {{opened.name}}
      %p
        {{opened.body}}
      %p
        %b {{ doneInWords(opened.done) }}
    %a{'ng-click' => 'close()'}
